@import '_variables'

body
  background-color: #edf2f6
  font-family: "Ubuntu", serif

// todo make mixin
.box
  background-color: white
  border-radius: 4px
  //box-shadow: inset 0 0 5px #e8ecf4
  border: 1px solid $border-color
  overflow: hidden
  color: $text-color
  margin-bottom: $box-margin