<div class="box post">
    <div class="info">
        <sn-user-pic [user]="user"></sn-user-pic>

        <div class="text">
            <div class="name">Alex Donovan</div>
            <div class="relative-time">{{ post.created_at | amTimeAgo }}</div>
        </div>
        <div class="more">
            <span (click)="toggleOptions()"></span>
            <ul class="options" [class.show]="showOptions">
                <li (click)="edit()">Edit</li>
                <li (click)="delete()">Delete</li>
            </ul>
        </div>

    </div>
    <div class="body">
        {{post.content}}
    </div>
    <div class="footer">
        <i class="fa fa-heart"></i>
        <span class="counter">3</span>

        <sn-user-pic *ngFor="let reaction of post.reactions | slice:0:5" [user]="reaction.user"></sn-user-pic>
    </div>
</div>