
<div class="header">
    <h3 class="title">{{user?.name}}'s Friends ({{user?.friends_count}})</h3>
    <input [(ngModel)]="search" type="search" class="search" placeholder="Search friends..">
</div>

<div class="friends">
    <div *ngFor="let friend of friends | friendsSearch: search" class="friend">

        <img class="cover" src="/img/skyline.jpg" />

        <div class="info">
            <sn-user-pic [user]="friend" (click)="gotoUserProfile(friend)"></sn-user-pic>

            <div class="names" (click)="gotoUserProfile(friend)">
                <span class="name">{{friend.name}} {{friend.surname}}</span>
                <span class="username">{{friend.username}}</span>
            </div>

            <div class="stats">
                <div class="stat">
                    <span class="stat-amount">{{friend.friends_count}}</span>
                    <span class="stat-descr">Friends</span>
                </div>

                <div class="stat">
                    <span class="stat-amount">{{friend.posts_count}}</span>
                    <span class="stat-descr">Posts</span>
                </div>
            </div>

            <sn-btn-friend [user]="friend"></sn-btn-friend>
        </div>

    </div>

    <div class="friend-loader" (visible)="startLoading()" (nonVisible)="stopLoading()">
        <div *ngIf="loading" class="spinner">Loading..</div>
    </div>
</div>