@import '../../../../_variables'

$friend-height: 400px
$friend-margin: 30px
$friends-per-row: 4

$cover-height: 125px

$thumb-size: 120px
$thumb-offset: -60px
$thumb-border: 5px

.header
  @include box()
  @include flex-row()

  height: 80px
  padding: 15px
  justify-content: space-between

  .title
    color: $bold-color
    font-weight: bold
    margin-left: 15px

  .search
    @include placeholder-color($placeholder-color)
    width: 400px
    color: $text-color
    padding: 15px
    display: inline-block
    border: 1px solid $border-color
    resize: none
    &:focus
      outline: none


.friends
  display: flex
  flex-wrap: wrap
  justify-content: flex-start
  align-items: center

  position: relative

  .friend
    @include box()

    width: calc((100% - #{($friends-per-row - 1)*$friend-margin})/#{$friends-per-row})
    height: $friend-height

    &:not(:nth-child(#{$friends-per-row}n-#{$friends-per-row - 1}))
      margin-left: $friend-margin

  .cover
    width: 100%
    height: $cover-height
    object-fit: cover
    object-position: 50% 100%

  .info
    @include flex-column(center)
    justify-content: space-around
    position: relative
    padding-top: -$thumb-offset
    padding-bottom: 15px
    height: #{$friend-height - $cover-height}

  sn-user-pic
    display: block
    position: absolute
    height: $thumb-size
    width: $thumb-size
    top: $thumb-offset

    background-color: white
    padding: $thumb-border
    border-radius: 50%

    // navigates to user profile
    cursor: pointer

  .names
    @include flex-column(center)
    // navigates to user profile
    cursor: pointer
  .name
    color: $bold-color
    font-weight: bold
    font-size: 18px
  .username
    color: $text-color
    font-size: 14px

  .stats
    @include flex-row()
    justify-content: space-around
    width: calc(100% - 60px)
  .stat
    @include flex-column(center)
  .stat-amount
    color: $bold-color
    font-weight: bold
  .stat-descr
    font-size: 14px