<div class="box cover">
    <img src="/img/skyline.jpg" />
    <div class="menu">
        <div class=""></div>
        <div class="info">
            <!-- div class="face"><div class="inner-face"><img src="/img/face.jpg" /></div></div -->
            <sn-user-pic [user]="user" (click)="gotoTimeline()"></sn-user-pic>

            <div class="name" (click)="gotoTimeline()">{{ user?.name }} {{ user?.surname }}</div>
            <div class="city">San Francisco, CA</div>
        </div>
        <div class="menu-right">
            <button (click)="friend()" *ngIf="user?.id == currentUser?.id" class="btn-friend">Friend</button>
        </div>
    </div>

</div>

<router-outlet></router-outlet>
