<div class="header">
    <div class="site-name" [routerLink]="['/']">Social Network</div>
    <sn-search-bar></sn-search-bar>
    <div class="find-friends" (click)="gotoSuggestions()">Find Friends</div>
    <div class="buttons">
        <span class="friends" (click)="gotoFriends()"><i class="fa fa-users"></i></span>
        <span class="notification" (click)="toggleNotifications()"><i class="fa fa-bell"></i></span>
    </div>
    <div class="user">
        <div class="user-info" (click)="toggleUserMenu()">
            <sn-user-pic [user]="currentUser"></sn-user-pic>
            <div class="names">
                <span class="fullname">{{currentUser.name}} {{currentUser.surname}}</span>
                <span class="username">{{currentUser.username}}</span>
            </div>
            <span class="menu-icon">
                <i class="fa {{isUserMenuOpen ? 'fa-caret-up' : 'fa-caret-down'}}"></i>
            </span>
        </div>

        <ul class="user-menu" *ngIf="isUserMenuOpen" (clickOutside)="closeUserMenu()">
            <li (click)="logout()">Logout <i class="fa fa-sign-out"></i></li>
        </ul>
    </div>




</div>