<div class="header">
    <div class="site-name" [routerLink]="['/']">Social Network</div>
    <sn-search-bar></sn-search-bar>
    <div class="find-friends" (click)="gotoSuggestions()">Find Friends</div>
    <div class="buttons">
        <span class="friends" (click)="gotoFriends()"><i class="fa fa-users"></i></span>
        <span class="notifications" (click)="toggleNotificationsMenu()">
            <i class="fa fa-bell"></i>
            <i class="badge" [class.show]="unread_notification_count > 0"></i>
        </span>

        <ul class="notifications-menu" *ngIf="isNotificationMenuOpen" (clickOutside)="closeNotificationsMenu()">
            <li class="notification" [class.unread]="!notification.read_at"
                *ngFor="let notification of notifications"
                (click)="readNotification(notification)">

                <sn-user-pic [user]="notification.data.user"></sn-user-pic>
                <span class="content">{{notification.data.description}}</span>
            </li>
            <li class="placeholder notification" *ngIf="notifications.length == 0">
                <span class="content">No notifications.</span>
            </li>
        </ul>
    </div>
    <div class="user">
        <div class="user-info" (click)="toggleUserMenu()">
            <sn-user-pic [user]="currentUser"></sn-user-pic>
            <div class="names">
                <span class="fullname">{{currentUser.name}} {{currentUser.surname}}</span>
                <span class="username">{{currentUser.username}}</span>
            </div>
            <span class="menu-icon">
                <i class="fa {{isUserMenuOpen ? 'fa-caret-up' : 'fa-caret-down'}}"></i>
            </span>
        </div>

        <ul class="user-menu" *ngIf="isUserMenuOpen" (clickOutside)="closeUserMenu()">
            <li (click)="logout()">Logout <i class="fa fa-sign-out"></i></li>
        </ul>
    </div>




</div>