@import ../../variables

$header-height: 60px
$header-margin: 60px

$header-text-color: white
$header-bg-color: #404257

$username-color: #868aa7

@mixin hoverable()
  &:hover
    background-color: lighten($header-bg-color, 10)

.header
  width: 100%
  height: $header-height
  padding: 0 $header-margin

  color: $header-text-color
  background-color: $header-bg-color

  display: flex

  .site-name
    @include hoverable()
    padding: 0 30px
    line-height: $header-height
    font-weight: bold
    font-size: 18px
    cursor: pointer

  sn-search-bar
    position: relative
    display: block
    flex: 1 1

  .find-friends
    @include hoverable()
    //@include no-highlight()
    //color: $header-bg-color
    padding: 0 30px
    line-height: $header-height

    //navigates to suggestions
    cursor: pointer

  .buttons
    @include flex-row()
    padding: 0 10px

    span
      width: 40px
      height: 40px
      margin: 0 5px
      cursor: pointer

      i
        font-size: 18px
        display: block
        width: 100%
        height: 100%
        line-height: 40px
        text-align: center
        vertical-align: middle

        &:hover
          color: darken($header-text-color, 15)

  .user
    position: relative

  .user-info
    @include hoverable()
    @include flex-row()
    padding: 0 30px
    height: 100%
    cursor: pointer

    sn-user-pic
      display: inline-block
      height: 30px
      width: 30px
      margin-right: 10px

    .names
      @include flex-column()
      margin-right: 20px

    .fullname
      @include no-highlight()
      font-size: 14px
      font-weight: bold

    .username
      @include no-highlight()
      font-size: 10px
      color: $username-color

  .user-menu
    background-color: $header-bg-color
    position: absolute
    width: calc(100% + #{$header-margin})
    left: -$header-margin

    li
      @include flex-row()
      @include hoverable()
      justify-content: space-between

      padding: 0 20px
      height: 50px
      line-height: 50px
      cursor: pointer