$header-height: 50px
$header-margin: 25px

$header-text-color: white
$header-bg-color: #404257

.header
  width: calc(100% - #{2 * $header-margin})
  height: $header-height
  padding: 0 $header-margin

  color: $header-text-color
  background-color: $header-bg-color

  display: flex

  .page-name
    padding: 0 20px
    line-height: $header-height

  sn-search-bar
    display: block
    flex: 1 1

  .find-friends
    padding: 0 20px
    line-height: $header-height

  .buttons
    padding: 10px 20px
    button
      width: 30px
      height: 30px
      margin: 0 5px

  .user
    padding: 10px 10px
    img
      height: 30px
      width: 30px
      border-radius: 50%
      vertical-align: middle
    span.name
      margin-left: 5px
      vertical-align: middle