.header {
  width: 100%;
  height: 60px;
  padding: 0 60px;
  color: white;
  background-color: #404257;
  display: flex; }
  .header .site-name {
    padding: 0 30px;
    line-height: 60px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer; }
    .header .site-name:hover {
      background-color: #565874; }
  .header sn-search-bar {
    position: relative;
    display: block;
    flex: 1 1; }
  .header .find-friends {
    padding: 0 30px;
    line-height: 60px;
    cursor: pointer; }
    .header .find-friends:hover {
      background-color: #565874; }
  .header .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    padding: 0 10px; }
    .header .buttons .friends, .header .buttons .notifications {
      width: 40px;
      height: 40px;
      margin: 0 5px;
      cursor: pointer;
      position: relative; }
      .header .buttons .friends i, .header .buttons .notifications i {
        font-size: 18px;
        display: block;
        width: 100%;
        height: 100%;
        line-height: 40px;
        text-align: center;
        vertical-align: middle; }
        .header .buttons .friends i:hover, .header .buttons .notifications i:hover {
          color: #d9d9d9; }
          .header .buttons .friends i:hover .badge, .header .buttons .notifications i:hover .badge {
            background-color: #ea2c01; }
      .header .buttons .friends .badge, .header .buttons .notifications .badge {
        position: absolute;
        top: 12px;
        right: 12px;
        background-color: #fe5e3a;
        border-radius: 50% 50%;
        width: 6px;
        height: 6px; }
        .header .buttons .friends .badge:not(.show), .header .buttons .notifications .badge:not(.show) {
          display: none; }
  .header .notifications-menu {
    background-color: #464960;
    position: absolute;
    width: 300px;
    top: 100%;
    right: 0; }
    .header .notifications-menu .notification {
      display: flex;
      flex-direction: row;
      align-items: center;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      padding: 10px 20px 10px 15px;
      height: 50px;
      line-height: 50px; }
      .header .notifications-menu .notification:not(.placeholder) {
        cursor: pointer; }
        .header .notifications-menu .notification:not(.placeholder):hover {
          background-color: #565874; }
        .header .notifications-menu .notification:not(.placeholder).unread {
          background-color: #51546f; }
          .header .notifications-menu .notification:not(.placeholder).unread:hover {
            background-color: #5c5f7d; }
    .header .notifications-menu sn-user-pic {
      display: inline-block;
      flex: 0 0 30px;
      height: 30px;
      width: 30px;
      margin-right: 15px; }
    .header .notifications-menu .content {
      display: inline-block;
      flex-grow: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 14px; }
  .header .user {
    position: relative; }
  .header .user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 30px;
    height: 100%;
    cursor: pointer; }
    .header .user-info:hover {
      background-color: #565874; }
    .header .user-info sn-user-pic {
      display: inline-block;
      height: 30px;
      width: 30px;
      margin-right: 10px; }
    .header .user-info .names {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-right: 20px; }
    .header .user-info .fullname {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      font-size: 14px;
      font-weight: bold; }
    .header .user-info .username {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      font-size: 10px;
      color: #868aa7; }
  .header .user-menu {
    background-color: #404257;
    position: absolute;
    width: calc(100% + 60px);
    top: 100%;
    left: -60px; }
    .header .user-menu li {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px;
      height: 50px;
      line-height: 50px;
      cursor: pointer; }
      .header .user-menu li:hover {
        background-color: #565874; }

/*# sourceMappingURL=header.component.css.map */