@import '../../_variables'

$header-height: 100px
$padding-hor: 30px
$padding-ver: 40px

$primary-color: #fe5e3a

@mixin control()
  height: 50px
  width: 100%
  padding: 10px 20px
  font-size: 15px

  &:focus
    //outline: 0
    //box-shadow: 0 0 2px 2px darken($border-color, 20)

@mixin button()
  @include control()
  height: 50px
  margin-bottom: 20px
  border: none
  border-radius: 6px
  color: white
  background-color: $primary-color
  font-weight: bold
  cursor: pointer

  &:disabled
    background-color: lighten($primary-color, 15)

\:host
  display: block
  width: 100%
  height: 100%
  background: url('/img/login_bg2.jpg') center




.login-header
  height: $header-height
  width: 100%
  padding: 0 60px

  display: flex
  align-items: center

  .logo
    color: white
    font-size: 30px
    font-weight: bold

.login-body
  max-width: 1280px
  height: calc(100% - #{$header-height})
  margin: 0 auto
  padding: $padding-ver $padding-hor

  display: flex
  justify-content: space-around
  align-items: center

  .description
    width: 50%
    color: white

    h1
      font-size: 40px
      margin-bottom: 30px
    p
      font-size: 16px
      margin-bottom: 60px

    button
      @include button()
      width: 200px
      border: 2px solid white

  .forms
    width: 500px
    height: 620px

    display: flex

    .form-switch
      button
        display: block
        width: 50px
        height: 50%

        cursor: pointer

        color: #8f8f8f
        background: darken(white, 5)
        border: 1px solid $border-color
        font-size: 18px

        &.active
          background: white
          color: $primary-color


    .form
      flex-grow: 1
      height: 100%

      background: white
      border-top-right-radius: 5px
      border-bottom-right-radius: 5px

      .form-header
        padding: 22px
        font-weight: bold
        border-bottom: 1px solid $border-color
      .form-body
        padding: 25px

      form
        .form-group
          margin-bottom: 20px

          label
            display: block
            margin-bottom: 5px
          input
            @include control()


            border: 1px solid darken($border-color, 20)
            border-radius: 4px

            &.ng-pristine
              border-left: 4px solid rgb(179, 179, 179)
            &.ng-dirty.ng-invalid
              border-left: 4px solid red
            &.ng-dirty.ng-valid
              border-left: 4px solid green
          .error
            margin-top: 8px
            color: red

        button
          @include button()
