<div class="content">
    <div class="box info">
        <div class="head">Profile Info</div>
        <div class="body">
            <span class="title">About me:</span>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Nulla volutpat dolor magna, a lobortis odio rutrum lacinia. Etiam et efficitur dui.
                Curabitur sit amet fringilla felis.
            </p>

            <span class="title">Favourite TV Shows:</span>
            <p>
                Maecenas fermentum porttitor arcu a suscipit. Nullam sit amet metus neque.
                Aenean a massa at est finibus congue ac vel quam.
            </p>

            <span class="title">Favourite Music Bands / Artists:</span>
            <p>
                Nam leo orci, tristique in hendrerit in, scelerisque ac ligula.
                Quisque semper, nibh cursus sollicitudin commodo,
                mauris lacus pharetra tortor, nec dignissim justo lorem non dui.
            </p>
        </div>
    </div>

    <div class="posts">
        <sn-new-post *ngIf="user?.id == currentUser?.id" [user]="user" (onPost)="onPost($event)"></sn-new-post>
        <sn-post *ngFor="let post of posts" [user]="user" [post]="post" (onDelete)="onDelete($event)" (onReact)="onReact($event)"></sn-post>
        <div class="post-loader" (visible)="loadMore()">
            <div *ngIf="postsRequest" class="spinner">Loading..</div>
        </div>
    </div>
</div>