<div class="header">
    <div class="site-name" [routerLink]="['/admin']">
        <span class="title">Social Network</span>
        <span class="subtitle">Admin panel</span>
    </div>

    <div class="user">
        <div class="user-info" (click)="toggleUserMenu()">
            <sn-user-pic [user]="currentUser"></sn-user-pic>
            <div class="names">
                <span class="fullname">{{currentUser?.name}} {{currentUser?.surname}}</span>
                <span class="username">{{currentUser?.username}}</span>
            </div>
            <span class="menu-icon">
                <i class="fa {{isUserMenuOpen ? 'fa-caret-up' : 'fa-caret-down'}}"></i>
            </span>
        </div>

        <ul class="user-menu" *ngIf="isUserMenuOpen" (clickOutside)="closeUserMenu()">
            <li (click)="logout()">Logout <i class="fa fa-sign-out"></i></li>
        </ul>
    </div>

</div>